.container{
    margin:auto;
    background-color:darkcyan;
    height:200px;
    width:400px;
    text-align:center;
    border:2px solid black;
    border-radius:10px;
    margin-top:40px;
}
#demo{
    padding-top:30px;
    font-size:28px;
    font-weight:bold;
    color:white;
}
button {
    padding:3px 8px;
    color:green;
    border:2px solid black;
    border-radius:10px;
}
button:hover{
    color:white;
    background-color:black;
    transform:rotate(360deg);
    transition:3s;
}